$sm: 30em !default; //480px
$md: 48em !default; //768px
$lg: 64em !default; //1024px

@use 'include-media/dist/include-media' as include-media with (
	$breakpoints: (
		'sm': $sm,
		'md': $md,
		'lg': $lg,
	),

	$media-expressions: (
		'screen': 'screen',
		'print': 'print',
		'dark': '(prefers-color-scheme: dark)',
		'reduced-motion': '(prefers-reduced-motion: reduce)',
		//https://www.w3.org/TR/mediaqueries-4/#pointer
		'touch': '(pointer: coarse)',
		//https://www.w3.org/TR/mediaqueries-4/#pointer
		'no-touch': '(pointer: fine)',
		'landscape': '(orientation: landscape)',
		'portrait': '(orientation: portrait)',
		'retina2x': '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx)',
		'retina3x': '(-webkit-min-device-pixel-ratio: 3), (min-resolution: 350dpi), (min-resolution: 3dppx)',
	)
);

@mixin media($mq) {
	@include include-media.media($mq) {
		@content;
	}
}
