@use 'sass:math';
@use 'variables' as *;
@use 'functions' as *;

%input {
	:where(&) {
		box-sizing: border-box;
		min-height: 2.5em;
		line-height: 1.5;
		background: transparent;
		border: var(--#{$prefix}input-border-width) var(--#{$prefix}input-border-color) solid;
		border-radius: var(--#{$prefix}input-border-radius);
		padding: var(--#{$prefix}input-padding);
		display: block;
		width: 100%;
		transition: all 0.1s ease;

		&:focus-visible {
			outline: 2px solid $brand-main;
			outline-offset: 1px;
		}
	}
}

[type='button' i],
[type='reset' i],
[type='submit' i],
[type='range' i] {
	input:not(&) {
		@extend %input;
	}
}

[type='checkbox' i],
[type='radio' i] {
	:where(&) {
		width: 1.5em;
		height: 1.5em;
		flex-shrink: 0;
		min-height: 0;
		padding: 0;
		margin-inline-end: 0.25em;
		display: inline-block;
		appearance: none;
		box-sizing: border-box;
		vertical-align: top;
		position: relative;

		&:after {
			display: block;
			content: '';
			box-sizing: border-box;
			transition: all 0.5s ease;
			position: absolute;
			opacity: 0;
		}

		&:checked:after {
			opacity: 1;
		}
	}

	:where(label) :where(&) {
		margin-inline-end: 0;
	}
}

[type='checkbox' i] {
	:where(&) {
		&:after {
			width: 10px;
			height: 12px;
			border: solid var(--#{$prefix}input-border-color);
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
			top: 2px;
			left: 5px;
		}
	}
}

[type='radio' i] {
	:where(&) {
		border-radius: 50%;

		&:after {
			border-radius: 50%;
			border: em(6) solid var(--#{$prefix}input-border-color);
			transform: translate(-50%, -50%);
			top: 50%;
			left: 50%;
		}
	}
}

:where(textarea) {
	@extend %input;
	vertical-align: top;
	max-width: 100%;
}

// :where([type='search' i]) {
// 	$w: 24;
// 	$fill: $input-border-color;
// 	$icon: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 #{$w} #{$w}" fill="#{$fill}"><path d="#{$mdi-magnify}" /></svg>';

// 	padding-right: em($w + 6);
// 	background: url('data:image/svg+xml;utf8,#{svg-replace($icon)}') no-repeat right em(6) center / em($w);
// }
:where([type='range' i]) {
	appearance: none;
	background: transparent;
	cursor: pointer;
	display: block;
	width: 100%;
	height: 1.5em;

	&:focus-visible {
		outline: 0;
	}

	/* slider track */
	&::-webkit-slider-runnable-track {
		background-color: $input-border-color;
		border-radius: $border-radius;
		height: 0.2em;
	}

	&::-moz-range-track {
		background-color: $input-border-color;
		border-radius: $border-radius;
		height: 0.2em;
	}

	/* slider thumb */
	&::-webkit-slider-thumb {
		box-sizing: border-box;
		appearance: none;
		border-radius: 50%;
		border: var(--#{$prefix}input-border-width) var(--#{$prefix}input-border-color) solid;
		background-color: white;
		height: 1.5em;
		width: 1.5em;
		transform: translateY(var(--#{$prefix}input-border-width));
		margin-top: -0.75em;
	}

	&:focus-visible::-webkit-slider-thumb {
		outline: 2px solid $brand-main;
		outline-offset: 1px;
	}

	&::-moz-range-thumb {
		box-sizing: border-box;
		border: var(--#{$prefix}input-border-width) var(--#{$prefix}input-border-color) solid;
		border-radius: 50%;
		background-color: white;
		height: 1.5em;
		width: 1.5em;
	}

	&:focus-visible::-moz-range-thumb {
		outline: 2px solid $brand-main;
		outline-offset: 1px;
	}
}
