@use 'sass:selector';
@use 'breakpoints' as bp;

@mixin print-styles($map) {
	@each $property, $value in $map {
		#{$property}: $value;
	}
}

@mixin hover($all-devices: true) {
	@if $all-devices {
		&:focus,
		&:hover {
			outline: 0;
			@content;
		}
	} @else {
		@include bp.media('no-touch') {
			&:focus,
			&:hover {
				@content;
			}
		}
	}
}

@mixin focus() {
	&:focus {
		outline: 0;
		@content;
	}
}

@mixin where($selectors: '&') {
	$parsed: str-replace($selectors, '&', &);
	$where: ':where(#{$parsed})';

	@at-root #{$where} {
		@content;
	}
}
