@use 'variables' as *;
@use 'functions' as *;

select {
	@extend %input;

	:where(&) {
		height: 2.5em;
		appearance: none;

		&::-ms-expand {
			display: none;
		}

		$w: 24;

		$icon-light: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 #{$w} #{$w}" fill="#{$input-border-color}"><path d="#{$mdi-unfold-more-horizontal}" /></svg>';
		$icon-dark: '<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 #{$w} #{$w}" fill="#{$input-border-color-dark}"><path d="#{$mdi-unfold-more-horizontal}" /></svg>';

		@at-root :where(:root) {
			--select-bg: url('data:image/svg+xml;utf8,#{svg-replace($icon-light)}');
			--select-bg-dark: url('data:image/svg+xml;utf8,#{svg-replace($icon-dark)}');
		}

		padding-right: em($w);
		background: var(--select-bg, var(--select-bg-dark)) no-repeat right center / em($w);
	}

	:where(&.placeholder) {
		color: rgba(var(--#{$prefix}-color-rgb), 0.5);
	}
}
