@use './variables' as *;

:where(:root) {
	font-family: var(--#{$prefix}-font-family);
	line-height: var(--#{$prefix}-line-height);
}

:where(h1, h2, h3, h4, h5, h6) {
	margin: 0 0 $headings-margin-bottom;
	@if $headings-font-weight != 700 {
		font-weight: $headings-font-weight;
	}
}
