docs
node_modules
src
public
e2e
test-results
.editorconfig
.eslintrc.cjs
.nvmrc
.prettierrc
playwright.config.js
postcss.config.cjs
vite.config.js
index.html

.sass-cache
.DS_Store
.vscode
*.map
sassdoc
