@use '../variables' with (
	$light-shades: #f3f2ef,
	$light-accent: #97b8d0,
	$brand-main: #456a9d,
	$dark-accent: #899eb0,
	$dark-shades: #1c2748,
	$dark: #0f1422,
	$green: #3e7e50,
	$yellow: #79551b,
	$red: #e91b0c,
	$default: #899eb0,
	$body-bg-dark: #394056
);
