@use '../variables' with (
	$light-shades: #e4e9ec,
	$light-accent: #7e9eb5,
	$brand-main: #456a9d,
	$dark-accent: #6b7185,
	$dark-shades: #1a1d2c,
	$dark: #07080c,
	$green: #4a9a67,
	$yellow: #c78a2f,
	$red: #f44336,
	$body-bg-dark: #1a1d2c
);
