@mixin button {
  box-sizing: border-box;
  min-height: 2.5em;
  line-height: 1.5;
  border: $border-width transparent solid;
  border-radius: $border-radius;
  background: $brand-main;
  color: $body-bg;
  cursor: pointer;
  transition: all .5s;
  padding: em(6) em(24);
  @include focus {}
  @include hover {
    box-shadow: 0 0 99px inset rgba(0,0,0, .30);
  }
  &[disabled] {
    opacity: .4;
    cursor: not-allowed;
    box-shadow: none !important;
  }
  &.secondary {
    background: $secondary;
  }
  &.link {
    padding: 0;
    min-height: 0;
    line-height: inherit;
    background: none !important;
    @extend %a;
  }

  @if $output-color-buttons {
    &.info {
      background: $info;
      @include hover {
        box-shadow: 0 0 99px inset rgba(255, 255, 255, .30);
      }
    }
    &.success {
      background: $success;
    }
    &.warning {
      background: $warning;
    }
    &.danger {
      background: $danger;
    }
  }
  &.outlined {
    background: transparent;
    border-color: $brand-main;
    color: $brand-main;
    @include hover {
      &:not([disabled]) {
        background: $brand-main;
        color: $body-bg;
      }
    }
    &[disabled] {
      background: transparent !important;
    }
    &.secondary {
      background: transparent;
      border-color: $secondary;
      color: $secondary;
      @include hover {
        background: $secondary;
      }
    }
    @if $output-color-buttons {
      &.info {
        background: transparent;
        border-color: $info;
        color: $info;
        @include hover {
          background: $info;
        }
      }
      &.success {
        background: transparent;
        border-color: $success;
        color: $success;
        @include hover {
          background: $success;
        }
      }
      &.warning {
        background: transparent;
        border-color: $warning;
        color: $warning;
        @include hover {
          background: $warning;
        }
      }
      &.danger {
        background: transparent;
        border-color: $danger;
        color: $danger;
        @include hover {
          background: $danger;
        }
      }
    }
  }
  &.inverted {
    background: $body-bg;
    color: $body-color;
    @include hover {
      &:not([disabled]) {
        background: darken($body-bg, 15%);
      }
    }
    &.outlined {
      background: transparent;
      color: $body-bg;
      border-color: $body-bg;
      @include hover {
        &:not([disabled]) {
          background: $body-bg;
          color: $body-color;
        }
      }
    }
  }
}

%button { @include button; }

@mixin buttons(){
  button { @extend %button; }
  @if $output-button-class {
    .button { @extend %button; }
  }
  @if $output-input-buttons-types {
    input {
      &[type=button],
      &[type=submit],
      &[type=reset] {
        @extend %button;
      }
    }
  }
}
