$output-reboot: true;

$output-color-buttons: false;
$output-outlined-buttons: false;
$output-input-buttons-types: false;
$output-button-class: false;

$style-checkboxes: false;
$style-select: false;
