$output-reboot: true !default;

$output-color-buttons: true !default;
$output-outlined-buttons: true !default;
$output-input-buttons-types: true !default;
$output-button-class: true !default;

$style-checkboxes: true !default;
$style-select: true !default;
